PORT=5000

DATABASE_URL=mongodb://127.0.0.1:27017/mpms

NODE_ENV=development

BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES_IN=1d

JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRES_IN=30d